<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/awsm.min.css">
	<title><%- challenge.title %> | CoR Challenge Development Portal</title>
</head>
<body>
	<%- include('header') %>
	<h1><%- challenge.title %></h1>
    <p><%- challenge.description %></p>
    <a href="/challenges">Back to Challenges</a>
</body>
</html>
