<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/awsm.min.css">
	<title>Home | CoR Challenge Development Portal</title>
</head>
<body>
	<%- include('header') %>
	<h1>Crusaders of Rust Official Challenge Development Portal</h1>
	<h6>i forgot i was supposed to write a challenge this year so this entire site was written in 30 minutes</h6>
</body>
</html>