<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/awsm.min.css">
	<title>Login | CoR Challenge Development Portal</title>
</head>
<body>
	<%- include('header') %>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user" required>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" required>
        <button type="submit">Login</button>
		<h6>No account? Register <a href="/register">here</a></h6> 
    </form>
    <script nonce="<%= nonce %>">
        document.getElementById('loginForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const user = event.target.user.value;
            const pass = event.target.pass.value;
            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user, pass })
            });
            const result = await response.json();
            if (result.success) {
                window.location.href = '/';
            } else {
                console.error('Error logging in:', result.error);
            }
        });
    </script>
</body>
</html>
